@CHARSET "ISO-8859-1";

.root {
	-fx-spacing: 30;
	-fx-background-color:#BDBDBD;
	-fx-background-image: url(fmimage.jpg);
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-padding: 10;
}



.label {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}
.Headline {
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

.button {
	-fx-font-family: "Arial";
	-fx-padding: 5 10 5 10;
	-fx-font-size: 10px;
	-fx-font-weight: bold;
	-fx-background-color: Linear-gradient(#9EA7E5, #61a2b1);
	-fx-text-fill: #383640;
	-fx-effect: dropshadow( three-pass-box , rgba(2,3,4,0.6) , 0, 1.0 , 5 , 5 );
}

.button:hover {
	-fx-background-color: Linear-gradient(#2A5058, #61a2b1);
	-fx-text-fill: #ffffff;
}