@CHARSET "ISO-8859-1";

.root {
	-fx-spacing: 30;
	-fx-background-color:#BDBDBD;
	-fx-background-image: url(image.jpg);
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-padding: 10;
}

.label {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-opacity: 1.50;
}
.Headline {
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

.button {
	-fx-font-family: "Arial";
	-fx-padding: 15 30 15 30;
	-fx-font-size: 17px;
	-fx-font-weight: bold;
	-fx-background-color: dodgerblue;
	-fx-text-fill: #ffffff;
	-fx-border-radius: 0px;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.25) , 10, 0.0 , 0 , 3 );
}

.button:hover {
	-fx-background-color: deepskyblue;
	-fx-text-fill: #ffffff;
	-fx-cursor: hand;
}

.teamchoicebox{
	-fx-background-color: rgba(0,0,0,0.25);
}